<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="..//script/about-style.css">
</head>

<body>
    <header>
        <header>
            <div class="panal">
                <div class="name">
                    <h1>L Destination</h1>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="text">
                <h1>About Us</h1>
                <p>This Page is all about different type of WebPage Layout you want for your page. We here in L
                    Destination provide you quality Design. If you want us to design your page too Contact Us</p>
                <p>Our E-Mail layoutdestination@gmail.com</p><br>
                <p>This Page is managed By MD ASHIQUE MULLICK</p>
            </div>
        </main>
</body>

</html>